[2019-02-04 17:45] aparks5 opened #2 "Flags not implemented"
By the way, fantastic extension, puzzled why there aren't more users.

Repro: attempt to record screen in full quality (no encoding, would like text to remain crisp)

[code]

Result: flags not applied, image still blurry

[2019-02-04 21:46] arciisine commented on #2
Thanks for the feedback. I'll take a look at why that is the case, as those should supersede the default values.  Additionally, it seems like it would be a good idea to provide the ability to adjust quality/size accordingly.

[2019-02-05 00:03] arciisine commented on #2
Okay, looking a little closer, most things are overridable (save for the desktop/layout pieces).  Flags is expecting an object, instead of a string, e.g.:
[code]
Not all flags are currently overridable,  there is a bug fix for https://github.com/arciisine/screen-recorder/issues/1 that I will be releasing.

Additionally, to support quicktime, we use the yuv420 color space which causes some of the c

[2019-02-07 12:27] arciisine opened #4 "When ffmpeg fails, chronicler still thinks it is recording"

[2019-02-07 12:28] arciisine commented on #2
I released with a better color profile, let me know if this looks better.

[2019-02-07 12:29] arciisine opened #5 "Add flag to provide quicktime compatibility (at the cost reduced colorspace)"

[2019-02-12 11:23] arciisine commented on #2
Closing assuming the latest release solved the issue.

[2019-02-12 11:23] #2 closed

[2019-04-23 08:44] ed-sparkes opened #6 "Not working on Windows"
Says starting recording in 5..4..3..2..1 but then doesn't start recording, does nothing.

Are there any logs anywhere i could look at to see what is going wrong.

I have installed 4.1.1 of FFMPEG from here https://ffmpeg.zeranoe.com/builds/

Many thanks, Ed

[2019-04-23 18:45] arciisine commented on #6
@ed-sparkes Thanks for the report.  Last I checked windows was working fine.  There should be log output under the chronicler plugin output.  Additionally, have you tried letting the plugin install ffmpeg for you?  Could be a path issue.

I will give windows another check later tonight to see if anything is up.

[2019-04-23 20:30] ed-sparkes commented on #6
Hmm interesting, i tried letting the plugin install ffmpeg and now it works but not in all my workspaces.

I have a java project. And in there it counts down but doesnt run or do anything, just goes straight back to the start button. But in another workspace for a .net and javascript project it works, strange

[2019-04-23 22:04] arciisine commented on #6
Is it possible to share the workspace, or atleast the vscode settings for the workspace?  Nothing is specific to any language, just the vscode version

[2019-04-24 12:24] ed-sparkes commented on #6
These are my only settings and they are user settings not workspace
settings so same across all workspaces.

Yes the java repository i have still doesnt start the recorder whilst all
my others ones do  bizarre, annoyingly its the java one i wanted to record

{
"java.home": "C:\\Program Files\\Java\\jdk1.8.0_151",
"java.configuration.checkProjectSettingsExclusions": false,

"terminal.integrated.she

[2019-04-24 13:57] ed-sparkes commented on #6
Even weirder, if i go up a folder to the parent folder it works fine but in
the one folder i actually want to record its not working, are there any
hidden vscode settings that could be interfering?

On Wed, 24 Apr 2019 at 13:23, Ed Sparkes <ed.sparkes@gmail.com> wrote:

[2019-04-24 14:51] arciisine commented on #6
Are you sure there isn't a .vscode folder/settings in the folder that isn't working?  This seems really odd.

[2019-04-26 13:20] arciisine commented on #6
@ed-sparkes Were you able to figure it out?

[2019-04-30 13:36] ed-sparkes commented on #6
Nope, most frustrating, could it be not playing nice with some other
extension that is active in the workspace? Cant find any logs anywhere the
recording just doesnt start :(

On Fri, 26 Apr 2019 at 14:20, Timothy Soehnlin <notifications@github.com>
wrote:

[2019-05-01 11:14] arciisine commented on #6
I'm verifying the debug messages, and I can't seem to pull them up other.  Let me take a look, I might need to push out an update to resolve this.

[2019-05-01 11:47] arciisine commented on #6
So I didn't even realize, that when I broke out the screen-recording functionality to an external library, that I lost all of my logging.  I will take some time to get that back to where it needs to be.  If you have a  reference project and could let me know the version of windows you are running, that would be helpful.  I'd like to try to reproduce your issue locally.

[2019-05-01 11:56] ed-sparkes commented on #6
Hi, so bizarre on the command line  i ran cp -r myproject examplefortesting
plan was to pair back my code to something generic that still failed that i
could share with you. But i thought ill just test record first and it
worked, yet in the original folder myproject it still doesnt work.

Ed

On Wed, 1 May 2019 at 12:47, Timothy Soehnlin <notifications@github.com>
wrote:

[2019-05-01 12:50] ed-sparkes commented on #6
Any tips on how to optimise gifs produced? The size seems to depend on the
resolution of the monitor on which the recording takes place, which kinda
makes sense but not sure i need 4k quality at 5mb for 10 second gif, and
nor does my gitrepos readme.md :)

Thanks, Ed

On Wed, 1 May 2019 at 12:55, Ed Sparkes <ed.sparkes@gmail.com> wrote:

[2019-05-17 19:04] arciisine commented on #6
@ed-sparkes Sorry for the delay, missed this in the back and forth.  You should be able to affect the ffmpeg settings and set the resolution of the output, let me take a look and I should be able to post something this weekend.

[2019-06-18 02:40] arciisine commented on #6
@ed-sparkes The tool now supports setting a property to scale the output animated GIF.

[2019-07-07 18:53] willstall opened #8 "FFMPEG - Flag Help"
Hey there!

Awesome work! I'm just trying to get this do take a timelapse...a simple one. Just a frame every 1 second. I set my framerate to 1, which worked fine. I then tried to put in a flag to increase the speed by 60 and cannot seem to get any kind of flag working. From my understanding a flag for something like this would look like:
{"-filter:v":"setpts=PTS/60"}

I'm sure there is something i

[2019-07-07 20:21] arciisine commented on #8
Hey,

Looking at the code, https://github.com/arciisine/screen-recorder/blob/master/src/types.ts#L19 should define the location of the ffmpeg flags, if you want to augment those.  Looking at your flags, I'm thinking it would be during transcode. I'll try to duplicate on my side as well.

[2019-10-03 19:00] jedmao opened #9 "Cannot read property 'toString' of undefined"
When I start recording with Audio, specifically, I get a countdown, but when it hits zero I get this error:

<img width="564" alt="Screen Shot 2019-10-03 at 1 57 29 PM" src="https://user-images.githubusercontent.com/1058243/66155695-d5474500-e5e5-11e9-86a7-2e146ebf9f0a.png">

Environment: macOS Mojave v10.14.6
ffmpeg installed via `brew install ffmpeg`

[2019-10-03 19:49] arciisine commented on #9
Thanks. Let me take a look and see where the problem is.  Also make sure tm
your ffmpeg install has audio support.

On Thu, Oct 3, 2019, 3:00 PM Jed Mao <notifications@github.com> wrote:

[2019-10-03 21:39] jednano commented on #9
The [custom build of FFmpeg](https://github.com/arciisine/vscode-chronicler/binaries/osx/ffmpeg) link is a 404 in the readme and I had a hard time following the [more info](https://trac.ffmpeg.org/ticket/4513) link on how to do a custom build for macOS.

[2019-10-03 21:54] arciisine commented on #9
Yeah, its just the wrong path in the readme, https://github.com/arciisine/vscode-chronicler/tree/master/binaries/osx is where that is at.  Give that a try.  And I'm assuming you are on a mac/

[2019-10-03 22:37] jednano commented on #9
I am on a mac. I provided my env in the initial comment.

As for that `ffmpeg` file, I replaced my `brew cask install ffmpeg` version with that one and gave it permissions with `chmod 755` and ran it, but I get the error:

[code]

If I do `brew install x265` it's already installed:

[code]

Starting to think this might be more trouble than it's worth 😢

[2019-10-03 22:42] arciisine commented on #9
I don't have a mac as my daily driver anymore, but I can pull it up on one.  Will probably take a me a few days, but I'll see if there is anything special on my side.  FFmpeg was really finicky, and getting fixes upstreamed proved to not really be an option (hence the custom ffmpeg).

It might be as simple as uploading a new custom binary that is built against the latest libx265

[2019-10-03 22:46] arciisine commented on #9
And the issue you had about `toString` of undefined, sounds like it could be something else as well.  I'll just need to fire up a mac.

[2019-10-05 19:57] arciisine commented on #9
Just published an update to the plugin, this should be resolved.  I also updated the binary, and should provide better audio.

[2019-10-05 20:03] jednano commented on #9
Excellent! Is the binary in the same location?

[2019-10-05 20:42] arciisine commented on #9
Yeah,
https://github.com/arciisine/vscode-chronicler/tree/master/binaries/osx.  I
might need to recompile that, but my laptop was behaving a little odd.

On Sat, Oct 5, 2019 at 4:03 PM Jed Mao <notifications@github.com> wrote:

[2019-10-07 20:24] jednano commented on #9
Just so you know, it works! Thanks!

[2019-10-07 20:24] #9 closed

[2019-10-07 20:26] jedmao opened #11 "Recording doesn't follow vscode window"
I guess I was assuming this extension would be confined to vscode and not other apps, including the desktop. Not sure if this is within the design goals or not, but if I move my vscode window to another monitor or resize it or whatever, the original vscode window location is what continues to be recorded.

[2019-10-07 23:39] arciisine commented on #11
Yeah, this is the limitation with ffmpeg, as the recording area is defined as command line arguments.

[2019-10-09 13:58] madzim opened #12 "[Request] Support VSCode variables in `chronicler.dest-folder`"
I would like to save the recordings locally to my project.

[code]

Resulting error

[code]

[2019-10-09 14:34] madzim opened #13 "MP4 cannot be played on Quicktime"
OS: macOS Mojave, Version 10.14.4
Chronicler: 0.1.3
VSCode: 1.38.1
Quicktime: 10.5 (935.3)
ffmpeg: 4.1.2
ffmpeg location: /usr/local/bin/ffmpeg (used `$which ffmpeg` to locate)
settings.json: "chronicler.ffmpeg-binary": "/usr/local/bin/ffmpeg",

Error message when opening in Quicktime:

[code]

## IMPACT

This is more of an inconvenience to have to select a different default player or open the fil

[2019-10-09 15:11] arciisine commented on #12
Let me take a look.  Not sure if I ever considered relative to workspace.

On Wed, Oct 9, 2019, 9:58 AM Zim <notifications@github.com> wrote:

[2019-10-09 15:12] arciisine commented on #13
Yeah.  This is a known issue as a balance between quality and QuickTime
support.  I thought I had that outlined but I'll double check.

On Wed, Oct 9, 2019, 10:34 AM Zim <notifications@github.com> wrote:

[2019-10-09 18:54] arciisine commented on #11
I'll update the docs to call this out, as it is not intuitive.

[2019-10-09 20:50] jednano commented on #11
You might also want to point out the security / privacy implications of someone unintentionally revealing something they didn't intend to be visible underneath their vscode window.

[2019-10-10 00:19] arciisine commented on #13
Passing the flags should allow you to override the underlying flags passed to ffmpeg.  I'll verify, and if so, I'll add the specific steps in the readme for Quicktime support.

[2019-10-10 00:48] arciisine commented on #13
Updated the docs, and pushed out a fix to ensure the flags work properly.  The final format would be:
[code]

[2019-10-10 00:48] #13 closed

[2019-10-10 00:48] arciisine commented on #12
Should be fixed in the latest release

[2019-10-10 00:48] #12 closed

[2019-10-10 00:49] arciisine commented on #11
Not sure if I hit all the pieces, but it is called out that the recording is a rectangle on the screen, and not the window itself.

[2019-10-10 00:50] arciisine commented on #8
So looking closer at it tonight, and flags are supported, but only known flags. I would need to add something to the screen recorder lib, to know where the flag belongs, as ffmpeg has flags that need to be in certain positions.

[2019-10-10 05:43] jednano commented on #11
Thanks for adding clarity!

[2019-10-10 05:43] #11 closed

[2019-12-29 16:30] ctf0 opened #16 "add button to open file folder directly"
atm u have to manually navigate to the file folder

[2020-01-10 00:12] #16 closed

[2020-01-10 02:46] arciisine commented on #16
I do plan on adding this, as well as some additional features (like cancel/delete).  Not sure on the timing, but I think it's worth while.

[2020-01-20 14:29] arciisine commented on #16
This has been added in 0.1.5.  Along with the ability to delete the recording as well.

[2020-03-03 09:24] queil opened #17 "Fails on WSL"
Hey, I've been running VS Code in Windows Subsystem for Linux (WSL2). When I start recording I get:
[code]

Is this scenario supported or even possible?

[2020-03-03 14:04] arciisine commented on #17
The actual error is in the @arcsine/win-info package which is used for
getting window location and dimensions.

I'm not familiar enough with wsl to know what window manager it uses. I'll
need to research that

On Tue, Mar 3, 2020, 4:24 AM queil <notifications@github.com> wrote:

[2020-03-04 01:32] arciisine commented on #17
Looking at https://www.reddit.com/r/linuxquestions/comments/8b5zaz/xrandr_on_wsl/, it looks like `xrarndr` may not be properly supported.  You can look at https://github.com/arciisine/win-info/blob/master/native/x11/main.ts for more details.

I'll need to look further to see if anyone has solved this issue.

[2020-03-21 11:43] LX5321 opened #19 "Flags do not override speed of recording."
Chronicler has been a great vscode extension for me but by specifying the speed as `medium` in the flags parameter makes a screen recording duration go from 1:00 minute to 0:45 minutes (i.e it's sped up instead of normal time recording). This is an issue when used with the record audio command. The audio is recorded for 1:00 minute but the video is of 0:45 minutes, thereby cutting the audio and en

[2020-03-21 14:44] arciisine commented on #19
That is a fantastic point.  Those two features weren't really built together, and have created a weird scenario.  Are you expecting the audio to be sped up (sounding more like a chipmunk)? Or that the speed and the audio recordings shouldn't be supported together?

[2020-03-21 15:40] alexanderroquerodrigues commented on #19
What I think is happening here is
* the audio is recorded via the underlying `ffmpeg -f dshow` which records audio from an input device.
* FFmpeg triggers the command to record the vscode screen in default `ultrafast` preset.

[2020-03-21 15:41] alexanderroquerodrigues commented on #19
What I think can be done is allow audio recording only with preset as `medium` so that the video does not get over before the audio which is being recorded normally.

[2020-03-21 16:02] alexanderroquerodrigues commented on #19
What I am currently doing is, I am recording the video, then recording the audio, then overlaying it in sync with the code (I am explaining the code), when chronicler has the scope to do this all in one go!

[2020-03-21 16:06] arciisine commented on #19
I'll take a look, and see what I can suss out.  Sometimes I've run into platform specific issues, but hopefully this will be simple.

[2020-03-21 16:11] alexanderroquerodrigues commented on #19
That would be great! Thanks a bunch :smile:

[2020-04-06 15:50] cnruby opened #20 "How to install this extension "vscode-chronicler" into Eclispe Theia?"
Hey!
## Help from Eclipse Theia
`To install something from the Marketplace into Eclipse Theia, you could use the prefix “vscode:extension/” followed by the ID of the VS Code extension.
`

## Result
`root ERROR No plugin resolver found for the entry vscode:extension/arcsine.chronicler`

## Reference
- https://eclipsesource.com/blogs/2019/10/31/using-vs-code-extensions-in-eclipse-theia-and-che/

[2020-04-14 12:24] arciisine commented on #20
I took a look, and initially I'm not sure how this is supposed to work out.  I'm pretty the IDE runs the plugins remotely which will be a problem for `ffmpeg` which is expected to capture the desktop buffer.  But it's also possible I didn't understand something fully either.

[2020-04-14 12:45] cnruby commented on #20
Thanks for the reply!

Timothy Soehnlin <notifications@github.com> 于2020年4月14日周二 下午2:24写道：

[2020-07-09 22:35] flyinbutrs opened #21 "Chronicler Record With Audio silently fails"
Hi, I really like the plugin, but I can't get it to work with audio on OSX using the brew deployed version of FFMpeg. There's a note in your readme about needing a custom build of FFMpeg on OSX, but the link is dead, and the bug is marked as closed. Not sure how to proceed. I tried turning on Debug, but I can't actually find where the logs go.

Any tips?

Thanks!

[2020-07-09 22:54] arciisine commented on #21
Hey, thanks for the heads up, the binary can be found at: https://github.com/arciisine/vscode-chronicler/blob/master/binaries/osx/ffmpeg. I'll need to update the README, this binary may need to be updated at some point depending on any OSX changes.

[2020-07-10 14:04] flyinbutrs commented on #21
That requires a different lib than what I've got present:

[code]

[2020-07-10 16:07] arciisine commented on #21
Hmm. That should be statically compiled, I'll need to look at it.  The real issue here is that audio and screen recording on ffmpeg, on OSX, is broken. Let me see if I can't recompile the binary statically.  The referenced issue https://trac.ffmpeg.org/ticket/4513 has been marked as closed and indication that the patch no longer applies to the 4.2.x build of ffmpeg.

[2020-07-10 16:08] arciisine commented on #21
Additionally you could install libx265 via homebrew (`brew install x265`) and probably get that working as well.

[2021-01-06 07:49] Lv777F commented on #17
I have resolved this question by specifying vscode-chronicler run in windows not wsl;
1. Edit setting.json
[code]
2. Open a empty project in windows;
3. Run chronicler and install ffmpeg in windows path;
4. Open your project in wsl and it's working fine.

[2021-01-06 17:47] arciisine commented on #17
That's awesome.  I can update the readme to include this is you are cool
with that.

On Wed, Jan 6, 2021, 2:49 AM Lv777 <notifications@github.com> wrote:

[2021-01-12 07:56] lifeart opened #22 "4k displays support"
Currently, once I'm trying to record video on my PC, I'm getting only 1/4 of screen.

https://user-images.githubusercontent.com/1360552/104285404-a1cfb780-54c4-11eb-9dd7-35efff293d09.mp4

Extension works fine at 1920x1080, but record only part of screen for 3840x2160

[2021-01-12 12:21] arciisine commented on #22
That's odd.  Nothing in the code should assume screen dimensions.  More
specifically we rely on OS apis to tell us the dimensions of the windows.

Do you have any pixel scaling on your display or is the output 1:1?  I know
this caused issues in the past for some OSs as well.

On Tue, Jan 12, 2021, 2:56 AM Alex Kanunnikov <notifications@github.com>
wrote:

[2021-01-12 12:24] lifeart commented on #22
@arciisine  in vscode console I have devicePixelRatio 2.5

![image](https://user-images.githubusercontent.com/1360552/104314150-123cff80-54ea-11eb-913b-4cb47672957e.png)

and for windows I have default scaling (250%)

![image](https://user-images.githubusercontent.com/1360552/104314253-3698dc00-54ea-11eb-8e1e-3c902ffbe1f2.png)

[2021-01-12 17:27] arciisine commented on #22
I'm wondering if the pixel ratio has anything to do with it.  This will
come down to what dimensions I'm getting from Windows regarding the
dimensions.  https://www.npmjs.com/package/@arcsine/win-info, is what
determines the dimensions and then passes it on to ffmpeg.  I'll need to
figure out if it's tied to getting window details or if it's tied to an
ffmpeg limitation.

_tim

On Tue, Jan 12, 202

[2021-01-20 04:44] arciisine commented on #22
This seems to point that I might need to have screen dpi awareness and do some multiplication on the coordinate system.

https://social.msdn.microsoft.com/Forums/vstudio/en-US/948ec624-a506-45f7-a347-3c166ba34cea/getwindowrect-on-windows-10?forum=vcgeneral.

I might be able to provide a test build this weekend if you have the time to verify @lifeart.

[2021-01-20 04:48] lifeart commented on #22
Sure, thank you!

[2021-01-26 01:19] arciisine commented on #22
Still working on it. I've confirmed that ffmpeg is not DPI aware.  I'm working on this downstream.  First step will be https://github.com/arciisine/win-info/issues/1, and then https://github.com/arciisine/screen-recorder/issues/3.  After that I can update the plugin.

[2021-01-29 03:45] arciisine commented on #22
@lifeart Okay, so modified the dependent libraries, and I've published a new version (0.1.9). Tested it on windows with multiple deskop scaling factors, and everything looked to be okay.

[2021-01-31 15:53] lifeart commented on #22
@arciisine getting
![image](https://user-images.githubusercontent.com/1360552/106389670-956cb980-63f5-11eb-8dba-e5ce0587c21a.png)

[2021-01-31 16:08] arciisine commented on #22
@lifeart What version are you running? I remember running into this with some oddness in the JSON output of window information.  This was resolved in later builds.

[2021-01-31 16:12] lifeart commented on #22
It’s 0.1.9 according to vscode

[2021-01-31 21:29] arciisine commented on #22
So, I just pulled up 0.1.9 on my windows 10 VM and it appears to be working.  If I provide a simple repository, would you be able to run it and provide some debug information?  It would amount to running @arcsine/win-info commands to validate the bounds detection, as I believe this is where you are experiencing the problem.

[2021-01-31 21:36] lifeart commented on #22
sure, no problem

[2021-02-02 12:44] arciisine commented on #22
@lifeart , Try `npx -p @arcsine/win-info win-info` where you have `npx` installed.

[code]

[2021-02-02 13:05] lifeart commented on #22
![image](https://user-images.githubusercontent.com/1360552/106604247-6d559580-6570-11eb-8127-d45ed31b1de3.png)

[2021-02-02 14:05] arciisine commented on #22
I'll need to modify the tool to display the full JSON on error.  I've never
seen "unexpected number in json" before, so pretty sure it's tied to that.
Thanks for working with me on this, I'll have another build out tonight if
you are able to run this again.

On Tue, Feb 2, 2021 at 8:05 AM Alex Kanunnikov <notifications@github.com>
wrote:

[2021-02-03 01:17] arciisine commented on #22
@lifeart The latest verison (0.2.9) of the above script has been published, if you want to give it a try

[2021-02-03 06:54] lifeart commented on #22
@arciisine
![image](https://user-images.githubusercontent.com/1360552/106709499-b3106d80-6605-11eb-8645-79fcbbe7cc2b.png)

[code]

[2021-02-03 06:56] lifeart commented on #22
looks like `screens[0].scale.x` should be `2.50` instead of `2,50` and same for `y`

[2021-02-04 01:17] arciisine commented on #22
@lifeart Thanks, this looks to be an issue of localization tied to the string formatting.  I'll get a release today or tomorrow.

[2021-02-08 00:45] arciisine commented on #22
@lifeart Verified the fix, should be rolled out in the latest vscode chronicler update.  Thanks for all the assistance in finding (and troubleshooting).

[2021-02-08 07:37] lifeart commented on #22
@arciisine thank you for your work! I can confirm, it's working as expected! (`v0.1.11`)

[2021-02-08 07:37] #22 closed

[2021-04-14 01:12] ENTPRESTIGIOUS opened #23 "Invalid exit status: 1 when given a custom output directory"
Hello! I'm here to report that it gives an invalid exit status when i typed my custom output directory. All I typed was c:\Users\myself\Videos\VSCode Recordings. Unfortunately, that doesn't work! What can i do?

[2021-04-16 18:19] arciisine commented on #23
I have a feeling the JSON config requires `\` to be `\\` for all slashes in your drive.

[2021-04-16 18:20] arciisine commented on #23
Try `c:\\Users\\myself\\Videos\\VSCode Recordings` instead

[2021-04-16 19:06] ENTPRESTIGIOUS commented on #23
I think I've already tried that but i'm gonna try it again later. I will let you know.

[2021-04-16 21:24] arciisine commented on #23
And the space may also need a slash.  I'd actually recommend removing the space from the folder name, and using a dash or an underscore as a test.  Spaces tend to make things weird when using command line tools (which the extension does via ffmpeg).

[2021-05-15 16:10] pjc1288 opened #24 "Cannot find screen recording device"
Hello,

FIrst of all thank you for your work.

 I receive this message when I press the button to record 'Cannot find screen recording device'

I have installed ffmpeg but i dont know what to do.

Best

[2021-05-15 16:44] arciisine commented on #24
Operating system would be really helpful.  And how did you install ffmpet?  The plugin supports auto installing it for you so it could also be using a different version potentially.

The easiest way to debug is to get a CLI command that reproduces the issue to help narrow it down.

[2021-05-18 18:38] arciisine commented on #24
@pjc1288 Wanted to follow up if you were able to find any more information about the issue?

[2021-05-19 21:22] #20 closed

[2021-05-19 21:22] #6 closed

[2021-05-19 21:22] #4 closed

[2021-05-19 21:23] #21 closed

[2021-05-29 17:24] MarcoDiMarek opened #25 "Chronicler stopping never finishes."
FFMPEG is in path (environment variables), slashes in DEST and FFMPEG paths in settings JSON are escaped.
Still, upon running, Chronicler gives an invalid exit status and when stopping, it never actually stops.

[2021-05-31 01:45] arciisine commented on #25
Do you have a sample config?  Also knowing what platform you are on is helpful as well.

[2021-05-31 05:40] MarcoDiMarek commented on #25
I was on Windows 10.
Sorry, I uninstalled it since I don't want to keep addons I do not actively use.

[2021-06-14 20:48] pilotkid opened #26 "Error Parsing Data, Invalid Exit"
Hello, this is my first time running this extension.

- Start Recording GIF
- Windows 10
- FFMPEG installed
- vscode 1.57.0

I am getting two errors.

1) When I am not on my primary monitor I get `Error Parsing Data`, the following is logged when running a devmode vscode window

[code]

The next error I get is if I am on my primary monitor. I receive a non-zero exit code of 1, as soon as the count

[2021-06-14 21:10] arciisine commented on #26
Thanks for the feedback.  I see two issues, primarily around scale, and escaping of spaces in folder names.  The first issue will need to be handled in https://github.com/arciisine/win-info and https://github.com/arciisine/screen-recorder respectively.  It will take me a few days to get this figured out.

@pilotkid  Are you up for running some dev builds if I have any issues tracking down the prob

[2021-06-14 21:29] pilotkid commented on #26
Absolutely

Sincerely,
Marcello Bachechi

On Mon, Jun 14, 2021 at 3:10 PM Timothy Soehnlin ***@***.***>
wrote:

[2021-06-16 16:40] manuelamr commented on #25
Seme problem, but under Fedora Linux 33 (VSCode 1.57.0)
![image](https://user-images.githubusercontent.com/68553883/122258841-ceec2000-ced1-11eb-8e65-69eea9c81d9b.png)

After click on "Chronicler start" button bar, inmediately shows above error.
I enabled debug log too, but i didn't find the log file, or log window extension

FFMpeg v4.3.2 installed and binary locate at /usr/bin/ffmpeg

[2021-06-19 16:33] ws1088 commented on #26
I got the same error. I am using Linux. How do I enter `dev mode` to help give me debug information?

[2021-06-19 17:40] pilotkid commented on #26
1. Open your extensions folder
2. Open the extension in code
3. Start the debugger

On Sat, Jun 19, 2021 at 12:33 PM ws1088 ***@***.***> wrote:

--

Sincerely,
Marcello Bachechi

[2021-06-20 00:27] arciisine commented on #26
I'm wondeirng if something has changed recently, as this seems like a lot of activity.  I will have some time tomorrow and will get a build out then.  I will just reply to this thread @pilotkid when the build is ready.

[2021-06-20 16:35] arciisine commented on #26
@pilotkid
[chronicler-0.1.12.zip](https://github.com/arciisine/vscode-chronicler/files/6682712/chronicler-0.1.12.zip)

You will need to rename the extension to `.vsix` (github won't allow for vsix uploads) and then use the vscode command to manually install the vsix.

I believe I fixed both the win32 issues (spaces in filenames, and bad scale calculation).

[2021-06-20 16:43] arciisine commented on #23
So, I should have a fix for this coming out today @ENTPRESTIGIOUS .  Not sure if you were able to work around the issue, but I'm now handling spaces in files more gracefully.

[2021-06-20 16:47] arciisine commented on #25
@manuelamr I think this is a different issue.  Do you know if you happen to be running Wayland?  Currently Wayland doesn't play well with screen recording by process id.

[2021-06-21 11:01] manuelamr commented on #25
It's not wayland.
Current problems are on XOrg

[2021-06-21 12:15] arciisine commented on #25
Thanks @manuelamr. The vscode plugin relies on @arcsine/win-info and @arcsine/screen-recorder as bulk of the functionality.  To debug,  can you try running `npx @arcsine/win-info` and share the output..  This will help to determine if there is any issue with detecting screens, dimensions, etc.

Also, if you can run `npx @arcsine/screen-recorder test.mp4`, and share that output as well . This will

[2021-06-21 14:17] manuelamr commented on #25
Attached debug log file @arciisine
[screen-recorder.log](https://github.com/arciisine/vscode-chronicler/files/6687218/screen-recorder.log)

[2021-06-21 15:00] arciisine commented on #25
Thanks @manuelamr, the ffmpeg output points to:

[code]

So it looks like there is some issue with the display naming.  Are you able to run the `npx @arcsine/win-info` command.  That should give some additional clarity.

[2021-06-21 15:02] manuelamr commented on #25
Attached win-info.log @arciisine

[win-info.log](https://github.com/arciisine/vscode-chronicler/files/6687598/win-info.log)

[2021-06-21 16:46] arciisine commented on #25
Thanks again for bearing with me.  These types of issues can be hard to track down. I'm wondering if it is the :0.0 vs just :0, can you run `echo $DISPLAY` to show what your display number is.

[2021-06-21 17:13] manuelamr commented on #25
 echo $DISPLAY
:1

[2021-06-21 17:47] arciisine commented on #25
Okay, so that is definitely the issue, as the code is trying to run at :0.0 for some reason. I need to dig into this a little more, as I need to ensure that the display number is honored.

[2021-06-21 17:50] arciisine commented on #25
@manuelamr I just pushed another version of `@arcsine/screen-recorder`.  If you could retry that operation from before
`npx @arcsine/screen-recorder test.mp4`, this should hopefully work now.

[2021-06-21 17:55] manuelamr commented on #25
yes!! now its working
I've uploaded a mediainfo log from the test file generated.

[test.mp4.mediainfo.log](https://github.com/arciisine/vscode-chronicler/files/6688571/test.mp4.mediainfo.log)
[screen-recorder-2.log](https://github.com/arciisine/vscode-chronicler/files/6688565/screen-recorder-2.log)

[2021-06-21 18:02] arciisine commented on #25
Awesome.  Extension should release under 0.1.12.  Please let me know if the issue isn't resolved.

[2021-06-21 19:31] arciisine commented on #26
@pilotkid I actually delpoyed this version as it solved another ongoing bug.  You should be able to just update this within vscodee now and verify the functionality.

[2021-06-22 02:21] ws1088 commented on #26
i am not as lucky. i install 0.1.12 on both linux and windows and both do not work. still "Error parsing data"

[2021-06-22 03:37] arciisine commented on #26
@ws1088 Are you able to run a few debugging commands:
`npx @arcsine/win-info` and `npx @arcsine/screen-recorder test.mp4`?  The output from these commands should help pinpoint where the issue is.

[2021-06-22 03:39] pilotkid commented on #26
@arciisine I'm so sorry I left town for a few weeks and cannot test at the moment. Wednesday I should be in a town with more than 1 bar of 3g where I can login to my home rig and test it.

[2021-06-23 09:27] manuelamr commented on #25
Excellent! with v0.1.12, works like a charm!!
Good job @arciisine

https://user-images.githubusercontent.com/68553883/123072531-ed907080-d415-11eb-9be1-c1285b04e6af.mp4

[2021-06-24 17:40] arciisine commented on #25
Closing the issue then.

[2021-06-24 17:40] #25 closed

[2021-06-24 17:40] #23 closed

[2021-06-24 17:41] arciisine commented on #24
@pjc1288 If you can, please run `npx @arcsine/screen-recorder test.mp4` from the command line, and the output should help identify the problem.

[2021-06-29 23:43] pilotkid commented on #26
No luck. I am still getting an error.

[code]

[2021-06-30 11:57] arciisine commented on #26
@pilotkid Thanks for the response, can you run:
`npx @arcsine/win-info` and `npx @arcsine/screen-recorder test.mp4` and post the output.  The issue above about not handling spaces in the executable name was fixed.  Also, can you verify what version of the plugin you are running?

[2021-07-05 18:30] pilotkid commented on #26
Here you go!

[code]
[code]

[2021-07-05 18:42] arciisine commented on #26
@pilotkid Thanks for the response.  This looks correct, and it looks like its producing the expected output (with the fixes I put in place).  This leads me to believe you are on an outdated version of the plugin.  Can you verify the version of the vscode plugin you are using, and share any relevant configuration from the workspace settings?

[2021-07-05 19:17] pilotkid commented on #26
Sure thing. I am using 0.1.12. Can you tell me what would be relevant settings besides what I have attached?
![image](https://user-images.githubusercontent.com/6385285/124511293-047a7f80-dd93-11eb-8eab-6661184c32b9.png)
![image](https://user-images.githubusercontent.com/6385285/124511349-23791180-dd93-11eb-89d8-176fe16033e9.png)
![image](https://user-images.githubusercontent.com/6385285/124511397-

[2021-07-05 19:27] arciisine commented on #26
I'm looking at your original error, and I saw `'""C:\Program'` in the error message.  Can you try removing the quotes (`"`) from your ffmpeg-binary location.  That may be interfering with the command line being built.

[2021-07-05 19:50] pilotkid commented on #26
...

It worked.

Thank you for all of your help.

[2021-07-06 14:50] arciisine commented on #26
Awesome, glad to hear!

[2021-07-06 14:50] #26 closed

[2021-07-14 01:20] ENTPRESTIGIOUS commented on #23
Sorry for not replying. Been busy back then. Apparently, I'm now getting an unavoidable Invalid exit status: 1 which means that even if i reset the setting to default, it also gives me an error!

[2021-07-14 01:21] ENTPRESTIGIOUS opened #27 "Invalid Exit Status: 1 now happening even with default directory!"
Sorry for not replying. Been busy back then. Apparently, I'm now getting an unavoidable Invalid exit status: 1 which means that even if i reset the setting to default, it also gives me an error!

_Originally posted by @ENTPRESTIGIOUS in https://github.com/arciisine/vscode-chronicler/issues/23#issuecomment-879508923_

[2021-07-14 01:25] ENTPRESTIGIOUS commented on #27
I have tried reinstalling too without changing anything but no luck!

[2021-07-20 22:54] evsar3 opened #28 "Error parsing data"
[code]
As seem on the JSON above, the scale is getting wrong decimal separator.

It seems the fix in https://github.com/arciisine/vscode-chronicler/commit/530c7d1db181cc337ce5c6a581af515180dc2643 didn't apply to me.
Running `VS Code v1.58.2` and `Chronicler v0.1.12`

![Extension Chronicler - main - Visual Studio Code](https://user-images.githubusercontent.com/1992754/126404603-d4423dd4-59b0-4dff-b

[2021-07-20 23:00] arciisine commented on #28
I had this issue before when dealing with Number formatting within C# (on Win platforms).  That should have all been resolved, but there is obviously an issue here.  Let me take a look and see if I can't get a fix out shortly.

[2021-07-20 23:02] arciisine commented on #27
Hmm, sorry if this was mentioned in another thread, but what platform are you running on?   Also if you can, please run `npx @arcsine/screen-recorder test.mp4` and `npx @arcsine/win-info` from the command line, then the output should help identify the problem.

[2021-07-20 23:48] arciisine commented on #28
I should have a fix released, @ 0.1.14.  Apparently I had a reverted a previous fix for localization issues.  Should be working now.

[2021-07-21 00:21] evsar3 commented on #28
v0.1.14 fixed the issue... I was investigating and was about to publish a pull request of the `CultureInfo.InvariantCulture` patch on win-info then I got this issue notification.

Thank you for your amazing extension!

[2021-07-21 00:26] arciisine commented on #28
Thanks so much for the feedback, and PRs are always welcomed :-).  Glad you are enjoying it.

[2021-07-21 00:26] #28 closed

[2021-08-01 08:06] willgarcia commented on #24
Same issue as  @pjc1288

@arciisine This is the output on Mac M1 after running a `brew install ffmpeg` + `npx @arcsine/screen-recorder test.mp4`:

[code]

Notes:
- the first time the npx script is executed, MacOS asks to allow "Screen Recording" for VSCode in the "Security & Privacy" settings.
- the npx script hangs even if it shows "Done" at the end. Pressing "q" also does not stop the script
- t

[2021-08-01 19:14] arciisine commented on #24
Thanks @willgarcia.  Looking at this there are a few things:

First (and primarily),
[code]

is somewhat concerning.  I don't have access to an M1 Mac, but I have run ffmpeg with the latest OSX version and don't recall having seen this issue.  If you are able to run the command directly

[code]

and post the output, that would be fantastic.

Second, the ffmpeg behavior of not honoring `q` is most

[2021-08-01 22:53] willgarcia commented on #24
Thanks @arciisine

A few more logs to troubleshoot:

[code]

and similar issue with the next command:

[code]

I'll do another test to see if I reproduce on another MBP pro x86 instead of my m1 arm.

[2021-08-01 23:01] arciisine commented on #24
Yeah the issue looks to be around the output of the first call:

[code]

The video device, index [1] is the one we would want to pass into the subsequent call.  But because first call is ending in an error, this is getting missed, and causing an issue.  The first call shouldn't end in an error, but it does seem to be doing just that.  Also, the library has the ability to download it's own version

[2021-08-02 07:48] willgarcia commented on #24
I tried to use the pre-compiled version available here: https://github.com/arciisine/vscode-chronicler/blob/master/binaries/osx/ffmpeg and it seems to confirm the problem has to do with the screen device not being found:

[code]

[2021-10-05 18:19] #17 closed

[2021-11-16 12:35] heitor-lassarote opened #29 "Command failed (can't record)"
# Problem

Running Chronicler is failing with the following error:

[code]

Additionally, in `Log (Extension Host)`, I see the following output, which I'm not sure whether it's related:

[code]

# Environment
OS: Arch Linux
ffmpeg version: n4.4.1
X.org version: 1.21.1.1
VS Code version: 1.62.2

[2021-11-16 13:56] arciisine commented on #29
Are you able to run a few debugging commands:
`npx @arcsine/win-info` and `npx @arcsine/screen-recorder test.mp4`? The output from these commands should help pinpoint where the issue is.

[2021-11-17 22:10] heitor-lassarote commented on #29
Here is the output for `npx @arcsine/win-info`:
[code]
Here's the output for `npx @arcsine/screen-recorder test.mp4`:
[code]
I attach `test.mp4` here:

https://user-images.githubusercontent.com/30162364/142290389-c0949610-ed7e-447e-8a1a-8c430715040b.mp4

n.b.: I'm trying this out with Wayland now.

[2021-11-17 23:03] arciisine commented on #29
So Wayland isn't currently supported because of it's inability to enumerate
the application windows (by design afaik).

On Wed, Nov 17, 2021, 5:10 PM Heitor ***@***.***> wrote:

[2021-11-18 00:21] heitor-lassarote commented on #29
Here are the the outputs to these commands, but this time using X:

`npx @arcsine/win-info`:
[code]

`npx @arcsine/screen-recorder test.mp4`:
[code]

Actually, the second time I tried running these commands, the output changed:
[code]

[code]

https://user-images.githubusercontent.com/30162364/142305770-419b42cd-c5b2-4d9c-8559-cfb139671ce8.mp4

So this time the command worked and recorded, but the

[2021-11-18 00:48] arciisine commented on #29
So, for the win-info on X11, I'm seeing the error in your output:
[code]

The program should be inferring the display host from the environment variable.  Can you run:
[code]
And provide the output.

[2021-11-18 00:56] heitor-lassarote commented on #29
The output again varies (first set of outputs or second set of outputs) before and after restarting the VS Code terminal, but the first time (with error) was `:0` and the second time (with success) was `:1`. Running it in non-VSC terminal always yields `:1`. I'm not sure if it helps, but I'm on a dual-monitor setup.

Just to make things simpler to debug, from now on I'll try on the ordinary termin

[2021-11-18 01:46] arciisine commented on #29
Thanks for the info.  So, the display host, unless you are running a funky X11 setup should stay constant.  The fact that you see it moving between :1 and :0 is a little odd.  I just double checked the code, and its just consuming the DISPLAY env variable to know which display host to target.

Since you moved back to X11, have you been able to try using the extension again?  If the terminal can su

[2021-11-25 13:37] ltshb commented on #29
I've a similar issue, were the chronicler fails as in above description. However running both following command `npx @arcsine/win-info` and `npx @arcsine/screen-recorder test.mp4` always works, here below the output of the command:

[code]

[code]

Note I had chronicler working in the past months.

[2021-11-25 20:31] heitor-lassarote commented on #29
I haven't. The first time I tried it (when I reported the issue) was with X11 as well.

It's the same for me.

[2021-11-27 03:24] arciisine commented on #29
@heitor-lassarote  @ltshb So, nothing has changed with respect to the plugin, so the only culprits would either be environmental, or potentially a VSCode change.  I'm digging into it now, and will update here when I find something.

[2021-11-27 04:20] arciisine commented on #29
So, long story short, I was able to replicate the issue and track it down to an electron change.  The extension should be publishing now, and after you update, it should be working.

[2021-11-27 04:35] heitor-lassarote commented on #29
Thank you! I just tried the new version and it works.

[2021-11-29 06:11] ltshb commented on #29
I updated and tried again, it works again like a charm 👍🏼 . Thanks a lot.

[2021-11-29 10:01] #29 closed

[2021-12-09 22:50] chozandrias76 commented on #24
This effects me. Tunneling over SSH.

[2021-12-10 01:44] arciisine commented on #24
@chozandrias76 When you say tunneling over ssh, do you mean you are forwarding the XSession over ssh? The scenario of using this and SSH doesn't seem to be clicking for me. Could you describe your use case in a little more depth?

[2021-12-13 03:54] #27 closed

[2021-12-19 16:17] CHENCHETY-ABHISHEK commented on #27
# chronicler invalid exit status 1

[Invalid Exit Status: 1 now happening even with default directory! · Issue #27 · arciisine/vscode-chronicler](https://github.com/arciisine/vscode-chronicler/issues/27)

- it occurs if there is no ffmpeg.exe file in the required path.
- to solve this go to settings.json from command palate and comment the chronicler line as shown in below figure.

![Untitled](htt

[2022-01-16 02:26] ogmios-voice opened #30 "Error: "Cannot read property 'uri' of undefined" when no folder in workspace"
When trying to start recording in a workspace w/ no folder Chronicler throws the _"Cannot read property 'uri' of undefined"_ error.

See also: https://code.visualstudio.com/docs/editor/workspaces#_can-i-use-a-multiroot-workspace-without-folders

[2022-01-17 21:45] arciisine commented on #30
Thanks for the report.  Yeah, this should be doable, just not a normal pattern for my own development.  Let me take a look and see what the level of effort is to remove the workspace assumption.

[2022-01-21 23:15] JuxtaCode opened #31 "Getting error on start"
I get an error when I start recording that says Invalid exit status 1. When I try to run npx @arcsine/win-info I get this:

Unexpected token W in JSON at position 19:
{
    "title": "C:\WINDOWS\system32\cmd.exe ",
    "id": 4655364,
    "owner": {
        "name": "WindowsTerminal.exe",
        "processId": 8776,
        "path": "C:\\Program Files\\WindowsApps\\Microsoft.WindowsTerminal_1.11.3471.0

[2022-01-21 23:32] jljorden commented on #31
Fixed that error, now I get this:
{
  "title": "Windows Terminal",
  "id": 1049918,
  "owner": {
    "name": "WindowsTerminal.exe",
    "processId": 27968,
    "path": "C:\\Program Files\\WindowsApps\\Microsoft.WindowsTerminal_1.11.3471.0_x64__8wekyb3d8bbwe\\WindowsTerminal.exe"
  },
  "screens": [
    {
      "x": 0,
      "y": 0,
      "width": 2194,
      "height": 1186,
      "index": 0,

[2022-01-21 23:34] jljorden commented on #31
When I run screen recorder I get this:>
c:\projects\ffmpeg\bin\ffmpeg.exe -f dshow -list_devices true -i dummy
Invalid exit status: 1
c:\projects\ffmpeg\bin\ffmpeg.exe -threads 4 -video_size 1996x1164 -offset_x 1378 -offset_y 400 -f gdigrab -i desktop -preset ultrafast -crf 10 -pix_fmt yuvj444p -c:v libx264 -y  test.mp4
Recording for 5 seconds...
ffmpeg version N-105336-g7247a6fed8-20220121 Copyri

[2022-01-21 23:43] jljorden commented on #31
Got it working. I just had to remove the FFMpeg Binary Location setting and start recording, then let Chronicler download ffmpeg on its own. Thanks.

[2022-01-21 23:43] #31 closed

[2022-02-01 12:26] arciisine commented on #30
Most of the work was already done for this.  I made a few minor changes, and this should be working now.

[2022-02-01 12:26] #30 closed

[2022-03-22 23:21] icreatedthisaccountforschool opened #32 "Error: Server Execution Failed"
After recording VS Code and then the video is saved, I can't view the video at all; I just get that error.

[2022-03-23 21:45] arciisine commented on #32
What operating system are you running this on?  There shouldn't be anything server related.

As a simple follow up, are you able to run a few debugging commands:
`npx @arcsine/win-info` and `npx @arcsine/screen-recorder test.mp4`? The output from these commands should help pinpoint where the issue is.

[2022-03-24 03:09] icreatedthisaccountforschool commented on #32
My OS is Windows 10, the specific build is Home Edition x64-Bit, and the specific version is 21H2. I managed to solve the issue by killing off the process of Windows Media Player in Task Manager. I've decided to just reinstall Xbox Game Bar and use that as a screen capture instead. But thanks for replying back and trying to help debug my problem anyways.

[2022-05-02 23:59] george-codes opened #33 "Can't get the plugin to record. Maybe issue with being in a remote container?"
I have a development container I run with using .devcontainer deployment in VSCode. It's running Ubuntu 20.04 (if that helps). When I attempt to record, I get the countdown... then right at "0", I get the following error. I will take a look at your repo, see if I can figure out anything. Let me know if you want me to try anything. thanks.

Command failed: /vscode/vscode-server/bin/linux-x64/dfd34e

[2022-05-03 12:14] arciisine commented on #33
Yeah, so this isn't going to work in a remote container, as the ffmpeg binary needs to run with knowledge/access of the windows/applications.  The only way this would work is if the extension runs locally, but I'm not sure what that would look like.

[2022-05-03 13:29] george-codes commented on #33
Okay, understood. thanks for the reply.

[2022-05-03 13:29] #33 closed

[2022-05-20 16:43] aragalie commented on #24
This issue still persists. I'm on MacOS Monterey 12.3.1

Probably something related to permissions? For me, if I download the **ffmeg** binary in Downloads, then it works.
But if download it somewhere else (and point to it in settings.json. of VSCode), e.g in Documents, then I get the same error "**Cannot find screen recording device**

[2022-05-24 15:08] RealBuddy opened #34 "ffmpeg for mac"
Hi, could you please help with ffmpeg for mac? The one is provided is not working.
Also I thought maybe for mac it would be better to use builtin screencapture utility?

[2022-06-01 02:45] arciisine commented on #34
That most likely means you are missing libx264, which is a dynamic library.  If you have homebrew installed, it should be as simple as `brew install x264`

[2022-06-02 17:39] RealBuddy commented on #34
I've tried to use screencapture on mac - it works just perfect!

[2022-07-17 02:41] niuyuping commented on #25
I am working on the version 0.1.16 and also get this problem, the log is below:

npx @arcsine/screen-recorder test.mp4

npx: installed 6 in 8.013s
/usr/bin/ffmpeg -threads 4 -video_size 1920x1048 -f x11grab -i :0.0+0,32 -preset ultrafast -crf 10 -pix_fmt yuvj444p -c:v libx264 -y  test.mp4
Recording for 5 seconds...
ffmpeg version 4.4 Copyright (c) 2000-2021 the FFmpeg developers
  built with gcc 1

[2022-07-17 22:59] arciisine commented on #25
It looks like there could be an issue with the $DISPLAY variable,

[x11grab @ 0x55f11fdff900] Cannot open display :0.0+0,32, error 1.

Can you run 'echo $DISPLAY' and also share what window manager/desktop
environment you are using?

On Sat, Jul 16, 2022, 10:41 PM niuyuping ***@***.***> wrote:

[2022-07-18 08:15] niuyuping commented on #25
I tried to run 'echo $DISPLAY' in console but nothing......I am using an iMac Pro 2018 with a DELL U2720QM external display
![image](https://user-images.githubusercontent.com/24621930/179470254-657e2eb8-f3a3-409c-b7a7-5aa4b546f5b3.png)
![image](https://user-images.githubusercontent.com/24621930/179470323-bde4d6b3-8530-4a7a-b1fc-cfaace93b0de.png)

I ran 'npx @arcsine/screen-recorder test.mp4' for a

[2022-08-09 13:45] Trass3r commented on #17
@arciisine actually this can be fixed in the package.json.
See https://github.com/sirmspencer/vscode-autohide/pull/10/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R14

[2022-09-26 21:36] andrepadez opened #35 "Cannot read properties of undefined (reading 'width')"
Using Mac OS Monterey vs 12.6, VSCode 1.71.2

Getting this error after the countdown "Starting in x seconds".

I already gave "Screen Recording" permissions to VS Code.

<img width="476" alt="Screenshot 2022-09-26 at 22 33 46" src="https://user-images.githubusercontent.com/1013997/192384788-6c603741-b829-417e-a9ed-48a6d757f6df.png">

Much appreciated

[2022-09-26 22:40] arciisine commented on #35
@andrepadez   If you can, please run `npx @arcsine/screen-recorder test.mp4` from the command line, and the output should help identify the problem.  Its possible ffmpeg (the underlying recording tool) is what needs permissions, and not vscode.

[2022-09-26 22:44] andrepadez commented on #35
Wow, thanks for the quick reply...
Let me add that i installed ffmpeg when prompted the first time running your extension.
Here's the output:

<img width="1136" alt="Screenshot 2022-09-26 at 23 42 43" src="https://user-images.githubusercontent.com/1013997/192393483-da82996d-2471-494a-9b27-9783fcd75dcf.png">

[2022-09-26 22:58] arciisine commented on #35
Oh wow, that doesn't seem right at all.  I'm running from linux, but you should see something closer to:

[code]

  The error about yauzl seems really wrong.  Perhaps try again?  And maybe install ffmpeg globally as a test as well (if you are using brew, it should be easily installable).

[2022-09-26 23:01] andrepadez commented on #35
installing ffmpeg now, will get back asap

[2022-09-26 23:50] andrepadez commented on #35
Sorry for the late reply, tried several things...
Ended up cleaning npm cache and was able to run it better, but still with problems at the end, when `Ctrl+c`

<img width="1056" alt="Screenshot 2022-09-27 at 00 49 40" src="https://user-images.githubusercontent.com/1013997/192400261-10b8f434-bc11-442b-ae99-73fa74f83fff.png">

[2022-09-27 00:53] arciisine commented on #35
Okay, so that means ffmpeg is not happy with your device, can run
`/opt/homebrew/bin/ffmpeg -f avfoundation -list_devices true -i ""`?  This
is what the underlying program launches to determine what screen recording
devices are available.

On Mon, Sep 26, 2022 at 7:50 PM André Alçada Padez ***@***.***>
wrote:

[2022-09-27 00:54] andrepadez commented on #35
<img width="1033" alt="Screenshot 2022-09-27 at 01 54 22" src="https://user-images.githubusercontent.com/1013997/192406625-f1433700-9bc3-4d9a-b110-9505be9d142d.png">

[2022-09-27 01:06] arciisine commented on #35
The input/output error response seems a little odd, but that is looking
mostly correct.  Can you try updating your workspace settings to use
/opt/homebrew/bin/ffmpeg for the ffmpeg path, versus the version that was
installed earlier?

[image: image.png]

On Mon, Sep 26, 2022 at 8:54 PM André Alçada Padez ***@***.***>
wrote:

[2022-09-27 01:11] andrepadez commented on #35
It worked! Thanks a lot.
Just an aside question, is there a way to record code and browser at the same time?
You don't have to answer it, you can just close the issue as resolved, i'm very appreciative of your support.

Cheers

[2022-09-27 01:22] andrepadez commented on #35
Found it, thanks a million!

[2022-09-27 01:22] #35 closed

[2022-09-27 01:33] arciisine commented on #35
ffmpeg is the one doing all the work here, so realistically, you can use it to record multiple screens, and do quite a bit more.  Though as it gets more complicated, a tool like OBS may be better suited for your needs.

If there is a clear idea/feature that you are thinking of, do feel free to open an issue, as it would be worth discussing.

[2022-10-25 23:41] peter-kehl opened #36 "Command failed (X11, Manjaro/Arch)"
Thank you for Chronicler, Timothy.

Unfortunately, it fails on:
- Manjaro (a stable sister of Arch) x64 Linux, up-to-date (but 5.19 kernel 5.19.16-2-MANJARO #1 SMP PREEMPT_DYNAMIC - I'll try with 6.0, too),
- X11, GNOME 42.4
- VS Code 1.72.2
  - Version: 1.72.2
  - Commit: d045a5eda657f4d7b676dedbfa7aab8207f8a075
  - Date: 2022-10-12T22:16:26.920Z
  - Electron: 19.0.17
  - Chromium: 102.0.5005.167

[2022-10-25 23:44] peter-lyons-kehl commented on #36
If it matters: I have 3 screens (the laptop's built-in, plus two external screens - one over HDMI, the other over a display port-to-VGA).

[2022-10-26 00:30] arciisine commented on #36
Hi @peter-kehl, are you running X11 or potentially running Wayland?  The fact that the error is showing up in the x11 information gathering points to something there being amiss.

Due to architectural changes (limitations) in Wayland, getting a list of screens and their dimensions is currently not feasible.

[2022-10-26 01:12] peter-lyons-kehl commented on #36
Hi Timothy @arciisine,

I'm on X11:
![image](https://user-images.githubusercontent.com/4270240/197910655-964a2453-ae70-4b82-b912-9c49c35b6015.png)

I've temporarily switched to kernel 6.0.2-2 (still on X11), but getting the same errors from VS Code, `npx @arcsine/win-info` and `npx @arcsine/screen-recorder test.mp4`.

[2022-10-26 11:31] arciisine commented on #36
So, the error you are getting indicates `xwininfo` is not installed, which, afaik has been default in X11 installations.  Can you try running `xwininfo` from the CLI to verify it is (or isn't) installed?

[2022-10-26 13:56] peter-lyons-kehl commented on #36
Thank you. Correct: `xwininfo` was not installed. I've installed it now (it's a package on Manjaro/Arch), will reboot and test.
![image](https://user-images.githubusercontent.com/4270240/198045584-31dd3e9c-4b9d-4216-8833-ce9fa4f16158.png)

[2022-10-26 14:29] peter-lyons-kehl commented on #36
Confirming that it works (once I installed `xwininfo` & rebooted). Suggest adding a note to `README.md` that it needs `xwininfo` to be installed and that it usually comes with X11 but it may be missing.

[2022-11-03 21:08] peter-kehl opened #37 "Support/pass through other ffmpeg flags"
Hi Timothy,

Thank you for Chronicler.
It already passes in some of `flags` (`pix_fmt, c:v, preset`). Could it also pass any other flags that the user enters? Like
- `crf` to override the default of `10`, or
- `color_range` (as suggested by FFMPEG team themselves when [capturing/recording from a screen](https://trac.ffmpeg.org/wiki/Capture/Desktop), please.

[2022-11-03 21:40] peter-kehl opened #38 "Template string, or a list of arguments (rather than an associative object) for "duplicate" parameters"
Hi Timothy,

This is on top of #37.

My specific need is small: (On my, admittedly messed up, Manjaro Linux + Pulse + Pipewire), I need
- not to use `-f pulse -i default` (which, for whatever reason, doesn't pick up my microphone), but
- to use `-f pulse -i "alsa_input.usb-Logitech_USB_Headset_Logitech_USB_Headset-00.mono-fallback"`.
- as an extra, it would be nice to pass in `-channels 1` in it,

[2022-11-03 23:45] arciisine commented on #37
https://github.com/arciisine/vscode-chronicler/blob/master/src/config.ts#L36-L44
https://github.com/arciisine/vscode-chronicler/blob/master/src/recorder.ts#L60

There is a flags object that should get passed through to the recording instance.  I specifically added that for being able to manipulate the color profile as QuickTime works differently from most everything else.

[2022-11-04 00:06] peter-lyons-kehl commented on #37
I've been using `flags`:
[code]
Out of the 3 entries under `flags`, only `"c:v"` gets passed through. But `crlf` and `color_range` don't get passed through. My settings:
[code]

That records in `/tmp/all_args.txt` that FFMPEG would be invoked with: `-threads 4 -r 4 -video_size 1440x900 -f x11grab -i :1+3200,898 -f pulse -i default -b:a 384k -c:a aac -ac 1 -preset ultrafast -crf 10 -pix_fmt yuvj444

[2022-11-09 22:25] arciisine commented on #38
Hey, @peter-kehl , let me look at this and get back to you.  Given the positional nature of some of the ffmpeg args, this seems like it would be the right thing to do.

[2022-11-29 13:11] arciisine commented on #38
My apologies for the delay.

So the nature of this problem comes down to how all the specific flags are managed on a per-platform basis, and this ends up with an "override" pattern that relies on the arguments being in a hashmap versus a list.

So, what sounds like it would be best here, is to provide a way for complete control over the command line invocation.  An intermediate shell script that r